@import "../../palette.scss";

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;

  > .option-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100500;
    width: 100%;

    margin-top: 5px;
    box-sizing: border-box;
    max-width: 730px;
    background: #ffffff;
    overflow-y: scroll;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $black;
  }
}

.list-inactive {
  height: 0;
  border: none;
  transition: all 0.1s ease-out;
}

.list-active {
  height: 246px;
  border: 2px solid #d6ccc4;
  transition: all 0.1s ease-out;
}

.input-block {
  max-width: 100%;
  height: 49px;
  position: relative;
  border-radius: 4px;

  > .input {
    width: 100%;
    height: 49px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid#D3D3D3;
    outline: 0;
    outline-offset: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-top: 25px;
    color: #3b3c44;

    &:focus {
      border: none;
      border-bottom: 2px solid #2653af;
      outline: 0;
      outline-offset: 0;
    }
    &.active {
      border-bottom: 2px solid #2653af;
    }
  }

  

  
  // .placeholder {
  //   font-family: Montserrat;
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 20px;

  //   color: #787a87;
  //   position: absolute;
  //   top: 0;
  //   left: 2px;
  //   .placeholder-focus {
  //   }
  // }
}

.input-container {
  position: relative;
  max-width: 730px;

  >.arrow {
    position: absolute;
    width: 16px;
    height: 10px;
    right: 10px;
    top: 20px;
    cursor: pointer;

    transform: rotate(0);
    transition: transform 0.1s ease-out;
    -webkit-mask-image: url("./arrow.svg");
    background-color: #d3d3d3;
  }

   >.arrow-rotate {
    transform: rotate(0.5turn);
    background-color: #2653af;
    transition: all 0.1s ease-out;
  }
}

.loading {
  display: flex;
  justify-content: center;
  margin: 100px;
}
