@import '../index.scss';

.AppHeader {
  flex: 0 0 auto;

  display: block;
  width: 100%;
  height: 57px;

  background-color: #F9F4EF;
  border-bottom: 1px solid #FDEBD6;

  box-sizing: border-box;
  padding-right: 8px;

  > div {
    display: flex;
    max-width: 800px;
    margin: 0 auto;

    box-sizing: border-box;

    justify-content: space-between;
    align-items: center;

    > a {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 16px 24px;
      box-sizing: border-box;
    }
    > div.AppHeaderBurgerButton {
      padding: 16px 24px 16px 24px;
    }
  }
}

.AppHeaderBurgerButton {
  position: relative;
  width: 24px;
  height: 24px;

  cursor: pointer;

  > span {
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 3px;

    background-color: #000000;

    transition:
      transform 0.1s ease-out,
      opacity 0.1s ease-out;
    left: 24px;
    &:nth-child(1) { top: 6px + 16px; /* 4px; */ }
    // &:nth-child(2) { top: 11px; }
    &:nth-child(2) { top: 14.67px + 16px; /* 18px; */ }
  }

  &.open {
    > span {
      &:nth-child(1) { transform: translateY(5px) rotate(45deg); }
      // &:nth-child(2) { opacity: 0; }
      &:nth-child(2) { transform: translateY(-4px) rotate(-45deg); }
    }
  }
}



.AppHeaderMenu {
  position: fixed;
  top: 58px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
  &.open {
    background-color: #F9F4EF;
    > div > .AppHeaderMenuGroup {
      opacity: 1;
      transform: translateY(0);
    }
  }
  overflow: auto;
  z-index: 100500;

  > div {
    display: flex;
    max-width: 800px;
    margin: 0 auto;

    flex-direction: column;
    padding: 32px 25px;
    box-sizing: border-box;

    > .AppHeaderMenuGroup {
      background-color: $white;
      border-radius: 12px; // TODO: smoothing
      overflow: hidden;

      transition:
        opacity 0.1s ease-in-out,
        transform 0.1s ease-in-out;
      &:nth-child(2) { transition-delay: 0.025s; }
      &:nth-child(3) { transition-delay: 0.05s; }
      opacity: 0;
      transform: translateY(-16px);

      > .AppHeaderMenuButton {
        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: row;
        align-items: center;
        > span.AppHeaderMenuButton_Emoji {
          flex: 0 0 auto;
          font-size: 30px;
          padding: 15px 0 15px 15px;
        }
        > span.AppHeaderMenuButton_Name {
          flex: 1;
          padding: 15px;
          @include p1;
        }

        cursor: pointer;
        user-select: none;

        min-height: 60px;
      }
      > .AppHeaderMenuGroup_Separator {
        display: block;
        width: 100%;
        height: 1px;
        padding: 0 17px;
        box-sizing: border-box;
        > span {
          display: block;
          width: 100%;
          height: 1px;
          background-color: $primary15;
        }
      }

      margin-bottom: 24px;
    }
  }
}

@keyframes AppHeaderMenuGroupFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}