.AppContentAnimated {
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  bottom: 0;

  > .AppContentAnimated_Block {
    display: flex;
    flex-direction: column;

    opacity: 0;
    user-select: none;
    animation: 0.15s forwards AppContentAnimated_Block_FadeIn ease-out;
    &.first {
      opacity: 1;
      user-select: auto;
      animation: none;
    }
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 5;
    transform-origin: top right;
  }

  > .AppContentAnimated_Block.old {
    animation: 0.15s forwards AppContentAnimated_Block_FadeOut ease-in-out;
    pointer-events: none;

    z-index: 1;
    user-select: none;
  }
}
@keyframes AppContentAnimated_Block_FadeIn {
  0% {
    opacity: 0;
    transform: translateX(128px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    user-select: auto;
  }
}
@keyframes AppContentAnimated_Block_FadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-128px);
  }
}