@import '../../palette';
$width: 1200px;

.BlockSomeStudents {
  position: relative;
  
  width: 100%;
  max-width: $width;
  padding: 20px 32px;
  box-sizing: border-box;
  overflow: hidden;

  > h1 {
    text-align: center;
    margin-bottom: 32px;
  }

  > .StudentsBlock {
    text-align: left;
  }

  text-align: center;
  > .Button {
    // display: block;
    margin: 16px 0;

  }
}