@import '../../palette';

.StudentPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  contain: size;
  margin-right: 12px;
  overflow: hidden;

  background-color: $lightBlue;

  display: flex;
  justify-content: center;
  align-items: center;
  > svg {
    fill: $primary;
    width: 45px;
    height: 45px;
  }
  &.small {
    > svg {
      width: 50%;
      height: 50%;
    }
  }

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.RegisterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  width: 100%;
  min-height: 320px;

  padding: 16px;
  box-sizing: border-box;

  border-radius: 15px;
  box-shadow: -1px 0px 4px rgba(202, 201, 199, 0.4),
              2px 2px 4px rgba(210, 207, 204, 0.4);
              // inset 0px -2px 0px $accent;

  > img {
    width: 150px;
    margin: 20px 0;
  }
  > h4 {
    margin-bottom: 20px;
  }
  > p {
    max-width: 350px;
  }

  > .Button {
    align-self: stretch;
    margin-top: auto;
    justify-self: flex-end;
  }
}

.StudentCard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 100%;

  padding: 16px;
  box-sizing: border-box;

  border-radius: 15px;
  box-shadow: -1px 0px 4px rgba(202, 201, 199, 0.4),
              2px 2px 4px rgba(210, 207, 204, 0.4);
              // inset 0px -2px 0px $accent;

  > .Top {
    display: flex;
    flex-direction: row;

    > .StudentPhoto {
      flex: 0 0 auto;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      > span.Course {
        margin-top: 8px;
        padding: 4px 8px;
        background-color: $lightBlue;
        border-radius: 4px;
        > p {
          color: $black;
          // font-weight: 500;
          // color: $white;
        }
      }
    }

    margin-bottom: 16px;
  }
  > .Specialty,
  > .University {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    > img {
      flex: 0 0 auto;
      align-self: flex-start;
    }
    > p {
      margin-top: 2px;
    }
  }
  > .University > img {
    width: 24px;
    margin: 8px 12px 8px 4px;
  }
  > .Specialty > img {
    width: 32px;
    margin: 0 8px 0 0;
  }
  > .Bio {
    position: relative;
    padding-top: 12px;
    > .Quote {
      position: absolute;
      top: -4px;
      left: -3px;
      opacity: 0.075;
      width: 34px;
    }
  }

  > .Socials {
    margin-top: auto;
    padding-top: 16px;
    > a {
      display: block;
      position: relative;
      // overflow: hidden;
      margin: 8px 0 0 0;

      $duration: 0.05s;
      transition: background-color $duration ease-in-out;
      background-color: $white;
      width: 100%;
      padding: 4px 16px;
      min-height: 43px;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      > p {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: color $duration ease-in-out;
        font-weight: 500;
        > svg {
          width: 24px;
          margin: 0 8px;
          transition: fill $duration ease-in-out;
        }
        
        @media (max-width: 375px) {
          font-size: 16px;
        }
      }
      &:hover {
        > p {
          color: $white !important;
          > svg {
            fill: $white !important;
          }
        }
      }

      border-radius: 10px;
      &.telegram {
        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -2px; /* !importanté */
          border-radius: inherit; /* !importanté */
          background: #179cde; 
        }
        > p {
          color: #179cde;
          > svg {
            fill: #179cde;
          }
        }
        &:hover {
          background-color: #179cde;
        }
      }
      &.viber {
        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -2px; /* !importanté */
          border-radius: inherit; /* !importanté */
          background: #675DA9; 
        }
        > p {
          color: #675DA9;
          > svg {
            fill: #675DA9;
            width: 32px;
            margin: 0 4px 0 6px;
          }
        }
        &:hover {
          background-color: #675DA9;
        }
      }
      &.linkedin {
        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -2px; /* !importanté */
          border-radius: inherit; /* !importanté */
          background: rgb(10, 102, 194); 
        }
        > p {
          color: rgb(10, 102, 194);
          > svg {
            fill: rgb(10, 102, 194);
            width: 32px;
            margin: 0 4px 0 6px;
          }
        }
        &:hover {
          background-color: rgb(10, 102, 194);
        }
      }
      &.instagram {
        background-clip: padding-box; /* !importanté */

        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -2px; /* !importanté */
          border-radius: inherit; /* !importanté */
          background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        }
        > p {
          color: #e6683c;
          > svg {
            fill: #e6683c;
            // fill: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
          }
        }

        &:hover {
          &:before {
            // background: transparent;
          }
          background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
          background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
          background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        }
      }
      &.facebook {
        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -2px; /* !importanté */
          border-radius: inherit; /* !importanté */
          background: #3b5998; 
        }
        > p {
          color: #3b5998;
          > svg {
            fill: #3b5998;
            width: 32px;
            margin: 0 4px 0 6px;
          }
        }
        &:hover {
          background-color: #3b5998;
        }
      }

      user-select: none;
    }
  }
}