.StudentsWidget {
  padding: 12px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  max-width: 1200px;
  display: block;
  margin: 0 auto;

  .Header {
    display: flex;
    margin: 0 0 12px 0;
    align-items: center;
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
    }
    a {
      flex: 0 0 auto;
      img {
        height: 28px;
        @media (max-width: 500px) {
          height: 24px;
        }
      }
      @media (max-width: 800px) {
        order: 0;
        margin-left: 0;
        margin-bottom: 6px;
      }
      order: 1;
      margin-left: auto;
    }
  }

  .Students {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    &.two {
      grid-template-columns: repeat(2, 1fr);
      > * { width: 33%; }
    }
    &.one {
      grid-template-columns: repeat(1, 1fr);
      > * { width: 33%; }
    }
    // @media (max-width: 800px) {
    //   grid-template-columns: repeat(2, 1fr);
    // }
    // @media (max-width: 500px) {
    @media (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .LoadMore {
    text-align: center;
    padding-top: 12px;
  }
}