.input-social-block {
  max-width: 441px;
  height: 49px;
  position: relative;
  border-radius: 4px;

  > .input {
    width: 100%;
    height: 49px;
    box-sizing: border-box;
    border: none;
    outline: 0;
    outline-offset: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-top: 25px;
    color: #3b3c44;
  
    &.active:focus {
      border: none;
      border-bottom: 2px solid #2653af;
      margin-top: 1px;
      outline: 0;
      outline-offset: 0;
    }

    &:disabled {
      background-color: transparent;
    }
  }
  > .starter {
    position: absolute;
    top: 2px;
    left: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-top: 25px;
    color: #3b3c44;
  }
  
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #787a87;
    position: absolute;
    top: 0;
    left: 2px;
  }

   .text-error {
    margin-top: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #ff4255;
  }

  .error{
    background-color: #ff425525;
    border-bottom: 2px solid #ff4255;
    animation: shake 150ms 2 linear;
  }

  @keyframes shake {
    0% {
      transform: translate(3px, 0);
    }
    50% {
      transform: translate(-3px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .clear-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 10px;
    top: 20px;
    background: url("./clear.svg") center;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  .icon-group {
    position: absolute;
    right: 10px;
    top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .bin-icon {
    width: 20px;
    height: 22px;
    background: url("./bin.svg") center;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  .pen-icon {
    width: 18px;
    height: 20px;
    margin-right: 10px;
    background: url("./pen.svg") center;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
