$width: 1200px;
$height: 1158px;

.SignUpPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Registration {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: $width;
  height: $height;
  background-size: contain;
  background-position: inherit;
  background-repeat: no-repeat;
}

.SignUpLogo {
  padding: 15px 0 0 57px;
  margin-bottom: 80px;
}

.SignUpText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SpecialityCourseForm {
  display: flex;
}

.RegistrationContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 1160px;
  background: #FFFFFF;
}

@mixin style-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.SignUpText {
  padding-bottom: 53px;

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  span {
    @include style-text;
    color: #787A87;
    padding-right: 10px;
  }

  a {
    @include style-text;
    text-decoration-line: underline;
    color: #2653AF;
  }
}

.SignForm {
  padding-left: 58px;
  input {
    @include style-text;
    font-size: 16px;
    line-height: 20px;
    color: #787A87;
  }
}

.back-btn{
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  color: #3B3C44;

}