@import "src/palette";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');

$width: 1440px;
$height: 100%;


@mixin style-text($fSize, $lHeight) {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $fSize;
  line-height: $lHeight;
}

.SignUpPage {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  min-height: 100%;
  min-height: 100vh;

  .Registration {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $width;
    height: $height;
    min-height: 1136px;
  }

  .secondPhoto {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    top: 0;
    z-index: -1;
  }

  overflow: hidden;
}

//------------------------------------//
.SignForm {
  padding: 0 35px;

  .flName {
    margin-top: 20px;
  }

  .regionBlock {
    margin-top: 40px;
  }

  .universityBlock {
    margin-top: 28px;
  }

  .facultyBlock {
    margin-top: 30px;
  }

  .specialityCourseBlock {
    margin-top: 28px;
    display: flex;
    // justify-content: space-between;
    > .Dropdown2 {
      flex: 1;
      margin-right: 28px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .useTelegram {
    max-width: 605px;
    margin-top: 21px;
    padding-left: 2px;
    @include style-text(15px, 18px);
    color: $black;
  }

  .or {
    display: block;
    margin: 26px auto;
    max-width: 478px;

    > span {
      display: block;
      width: 100%;
      height: 1px;
      text-align: center;
      background-color:rgba(120, 122, 135, 0.75);

      > p {
        transform: translateY(-50%);
        color:rgba(120, 122, 135, 0.9);

        background-color: $white;
        padding: 1px 4px;
        border-radius: 4px;
      }
    }
  }

  .authSocial {
    margin: 16px auto;

    max-width: 478px;
    height: 49px;
    display: flex;
    border-radius: 6px;

    &:hover {
      box-shadow: 2px 3px 4px rgba(120, 122, 135, 0.5);
      -webkit-box-shadow: 2px 3px 4px rgba(120, 122, 135, 0.5);
    }

    .regButton {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border: 0;
      margin: 0;
      padding: 0;
      border-radius: 6px;
      cursor: pointer;
      text-decoration: none;
      &:focus {
        outline: none;
      }

      &:active {
        background-color:  #68A8E5 ;
        opacity: .8;
      }
    }
    &.telegram .regButton {
      background: #68A8E5;
      &:hover {
        background-color: mix(#68A8E5, $white, 90%);
      }
      &:active {
        background-color: #68A8E5;
      }
    }
    &.facebook .regButton {
      background: #3b5998;
      &:hover {
        background-color: mix(#3b5998, $white, 90%);
      }
      &:active {
        background-color: #3b5998;
      }
    }

    img {
      padding: 0 22px 0 29px;
    }

    span {
      @include style-text(15.5px, 18px);
      letter-spacing: 0.006em;
      color: $white;
    }

    @media (max-width: 600px) {
      .authSocial {
        width: 300px;
      }
    }
  }
}

.authSocial:last-child {
  margin-bottom: 32px !important;
}

.GoBack {
  width: 75px;
  height: 28px;
  // margin: 21px 0 30px calc(50% - 40px);
  // text-align: center;
  margin: 16px;

}

.GoBack-btn {
  @include style-text(22px, 28px);
  letter-spacing: 0.05em;
  text-decoration-skip-ink: none;
  color: $black;
  text-decoration: none;
  cursor: pointer;

  border-bottom: 2px solid $black;
  &:hover {
    border-bottom: 2px solid #6a6a6a;
    color: #6a6a6a;
    svg { 
      fill: #6a6a6a;
    }
  }

  display: inline-flex;
  align-items: center;
  box-sizing: border-box;

  svg {
    width: 16px;
    margin-right: 8px;
    flex: 0 0 auto;
    fill: $black;
  }
  span {
    flex: 1;
  }

}

.specialityCourseBlock {
  .dropdown {
    width: 306px;
    margin-right: 1px;
  }
}

.checkBoxBlock {
  margin-top: 38px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $black;
}

@media (max-width: 640px) {
  .SignUpText {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  //.RadioBlock {
  //  display: flex;
  //  justify-content: space-between;
  //}
  .specialityCourseBlock {
    margin-top: 28px;
    flex-direction: column;

    .Dropdown2 {
      width: auto;
      margin-bottom: 28px;
      margin-right: 0 !important;
    }
  }
  .Input {
    margin-top: 21px;
  }
}
