@import '../../index.scss';

.MyRatingLoading {
  background-color: #F9F4EF;
  > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > .MyRatingLoadingSpinner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      > span {
        position: absolute;
        top: -7px;
        display: block;
        width: 112px;
        height: 55px;
        overflow: hidden;
        > span {
          display: block;
          width: 112px;
          height: 110px;
          box-sizing: border-box;
          border-top-left-radius: 110px;
          border-top-right-radius: 110px;
          border: 4px solid $primary100;
          border-bottom: none;
        }
        transform-origin: center bottom;
        animation: rotating 2s infinite;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;

        & h3 {
          font-family: $fontFamily1;
          font-size: 30px;
          color: $darkest100;
          text-align: center;
          margin-top: 20px;
        }

        & p {
          font-family: $fontFamily2;
          font-size: 16px;
          margin-top: 15px;
          text-align: center;
          color: $darkest60;
        }
      }
    }
  }
}

@keyframes rotating {
    0% { transform: rotate(0deg); }
   50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}