.wrapper-info {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 70px;
  grid-row-gap: 50px;

  @media (max-width: 670px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
