.MyRatingList {
  background-color: #F9F4EF;
  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    > div {
      flex: 1;
      padding: 9px 0;
      overflow: auto;
    }
    > .AppButton,
    > .AppButtonLink {
      margin: 0 25px 25px 25px;
    }
  }
}