@import '../../palette';
$width: 1200px;
.BlockHowItWorks {

  @media (max-width: 1000px) {
    display: none;
  }

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  width: 100%;
  max-width: $width;
  padding: 90px 32px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  > .Steps {
    display: flex;
    flex-direction: row;

    > div {
      flex: 1 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      > img {
        max-width: 275px;
      }
      > p {
        max-width: 230px;
      }
    }
  }
}