@import '../../palette';
$width: 1200px;

.BlockStudents {
  
  position: relative;
  
  width: 100%;
  max-width: $width;
  padding: 20px 32px;
  box-sizing: border-box;
  overflow: visible;
  
  padding-bottom: 150px;

  .Students {
    padding: 35px 0;

    display: grid;
    grid-gap: 35px;

    grid-template-columns: repeat(3, 1fr);
    .fullrow {
      grid-column: 1 / 4;
    }
    .loading {
      margin-bottom: 900px;
    }
    @media (max-width: 900px) {
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      .fullrow {
        grid-column: 1 / 3;
        margin: 25px 0;
      }
    }
    @media (max-width: 700px) {
      grid-gap: 5px;
      grid-template-columns: repeat(1, 1fr);
      .fullrow {
        grid-column: 1 / 2;
        margin: 25px 0;
      }
    }

    .space {
      height: 50%; 
    }
  }

  .load-more-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .StudentsHeader {
    margin: 32px 0;
    h1, h2, h3, h4 {
      @include mobile {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
}
.Filters { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;

  .Region {
    grid-column: 1 / 3;
  }
  .University {
    grid-column: 1 / 3;
  }
  @media (max-width: 800px) {
    grid-gap: 15px;

    .Speciality {
      grid-column: 1 / 3;
    }
    .Faculty {
      grid-column: 1 / 3;
    }
  }
  > .Course {
    grid-column: 1 / 3;
  }
  .Bottom {
    grid-column: 1 / 3;

    display: flex;
    @media (max-width: 800px) {
      flex-direction: column;
      .Stats {
        margin-top: 8px;
      }
    }
    > .Course {
      flex: 1;
    }
    .Stats {
      flex: 0 0 auto;
      margin-left: auto;
      p {
        flex: 0 0 auto;
        text-align: center;
        vertical-align: middle;
      }
      img.student {
        flex: 0 0 auto;
        height: 20px;
        margin: 0 6px 0 0;
        vertical-align: middle;
      }
      img.university {
        flex: 0 0 auto;
        height: 18px;
        margin: 0 8px;
        vertical-align: middle;
      }

      display: flex;
      align-items: center;
    }
  }
}