@import '../../palette';

div.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100500;

  transition: background-color 0.1s ease-in-out,
              box-shadow 0.1s ease-in-out;
  background-color: $white;
  &.atTop {
    background-color: rgba($white, 0.7);
    box-shadow: none;
    @include mobile {
      > div {
        padding-top: 16px;
        > .Header_Top {
          > .Header_Logo {
            height: 30px;
            opacity: 1;
          }
        }
        > .Header_Bottom {
          margin-top: 16px;
        }
      }
    }
  }
  box-shadow: 0 3px 4px rgba($black, 0.2);

  box-sizing: border-box;

  > div {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
    padding: 16px;
    box-sizing: border-box;

    @include mobile {
      padding: 8px;
      transition: padding-top 0.1s ease-in-out;
      
      padding-top: 16px;
    }
    .Header_Languages {
      flex: 1 0 0;
      @include mobile {
        display: none;
      }
    }

    > .Header_Top {
      display: flex;
      align-items: center;
      flex: 1 0 auto;
      @include mobile {
        // flex-direction: column;
        // > * {
        //   margin-bottom: 16px;
        //   &:last-child { margin-bottom: 0; }
        // }
      }

      > .Header_Logo {
        flex: 1 0 0;
        display: flex;
        justify-content: center;

        cursor: pointer;

        @include mobile {
          height: 30px;
          opacity: 1;
          // // order: -1;
          // text-align: center;
          // transition: height 0.1s ease-in-out,
          //             opacity 0.1s ease-in-out;
          // height: 0;
          // opacity: 0;
        }
      }
      > .Header_Buttons {
        flex: 1 0 0;

        display: flex;
        justify-content: flex-end;
        
        margin-left: 14px;
        > *:first-child {
          margin-right: 14px;
        }

        @include mobile {
          flex: 0 0 auto;
          margin: 0;
          display: none;
          // > .Header_Buttons_Register {
          //   display: none;
          // }
          // > .Header_Buttons_Login {
          //   padding: 8px;
          //   margin: 0;
          // }
        }
      }

      > .Header_MenuButton {
        display: none;
        @include mobile {
          display: flex;
          position: absolute;
          cursor: pointer;
          right: 16px;

          width: 36px;
          height: 36px;
          justify-content: center;
          align-items: center;

          > svg {
            width: 24px;
            height: 24px;
          }

          border-radius: 50%;
          overflow: hidden;

          .ripple {
            background-color: rgba($sea, 0.25);
          }
        }
      }
    }
    > .Header_Bottom {
      flex: 1 0 auto;
      margin-top: 16px;
      transition: margin-top 0.1s ease-in-out;
      @include mobile {
        // margin-top: 0;
      }
    }
  }
}
.Header_Languages {
  > span {
    cursor: pointer;
    transition: background-color 0.05s ease-in-out;
    padding: 6px;
    border-radius: 4px;
    &:hover {
      background-color: mix($sea, $white, 25%);
    }
    > p {
      transition: color 0.05s ease-in-out;
    }
    &.selected {
      background-color: $sea;
      > p {
        color: $white !important;
      }
    }
    user-select: none;
  }
}
.CabinetLink {
  > .StudentPhoto {
    margin: 0;
    flex: 0 0 auto;
  }

  padding: 2px;
  border-radius: 24px;
  border: 2px solid transparent;
  transition: border-color 0.1s ease-in-out;

  display: flex;
  text-decoration: none;
  align-items: center;

  p {
    margin: 0 6px;
  }

  &.selected { 
    border-color: $sea;
  }
}

.Header_Menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100500;
  background-color: $white;

  > .Header_Logo {
    position: absolute;
    top: 16px;
    width: 100%;
    text-align: center;
    > img {
      height: 30px;
    }
  }

  > .Header_CloseButton {
    display: flex;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;

    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;

    > svg {
      width: 24px;
      height: 24px;
    }

    border-radius: 50%;
    overflow: hidden;

    .ripple {
      background-color: rgba($sea, 0.25);
    }
  }

  > .Buttons {
    position: absolute;
    top: 96px;
    width: 100%;
    // overflow: hidden;
    box-sizing: border-box;

    > .Page {
      display: block;

      padding: 10px 48px;
      cursor: pointer;
      box-sizing: border-box;

      position: relative;
      overflow: hidden;
      text-decoration: none;

      > h3 {
        font-weight: normal;
      }

      &.selected {
        background-color: #E3EDF9;
        > h3 {
          color: $primary;
        }
      }

      .ripple {
        background-color: rgba($primary, 0.2);
      }

      &.black {
        background-color: mix($accent, $black, 95%);
        > h3 {
          color: $white;
        }
        .ripple {
          background-color: rgba($carrot, 0.2);
        }
      }
    }

    > .LoginButtons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 32px 48px 8px 48px;

      > .Header_Buttons_Login {
        margin-top: 10px;
      }
    }

    > .Header_Languages {
      display: block;
      margin: 32px 48px;
    }
  }
}

.Header_Buttons_Login {
  min-width: 80px;
}

.HeaderTabs {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-evenly;

  user-select: none;

  > .HeaderTabs_Tab {
    // flex: 1 0 0;

    display: inline-flex;
    justify-content: center;
    text-decoration: none;

    &.hideInMobile {
      @include mobile {
        display: none;
      }
    }

    &.black {
      > span {
        background-color: mix($accent, $black, 95%);
        padding: 6px 16px;
        &:hover {
          background-color: mix($accent, $black, 100%) !important; 
        }
        .ripple {
          background-color: rgba($carrot, 0.2);
        }
        > p { color: $white; }
      }
    }
    
    > span {
      position: relative;
      overflow: hidden;

      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      padding: 6px 7px;
      transition: border-color 0.1s ease-in-out,
                  background-color 0.1s ease-in-out;
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: mix($sea, $white, 15%);
      }

      .ripple {
        background-color: rgba($sea, 0.2);
      }
      
      p {
        font-weight: 500;
      }
    }

    &.selected {
      > span {
        cursor: default;
        border: 2px solid $sea;
        &:hover {
          background-color: $white;
        }
      }
    }
  }

}