@import '../../../../palette.scss';

.userInfo {
  display: flex;
  justify-content: space-between;
  
  @include mobile {
    flex-direction: column;
    > * {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
