@import "../../palette";

.checkBox {
  margin-top: 19px;
  display: flex;

  &.error {
    color: #ff4255;
    .custom-checkbox + label::before {
      border-color: #ff4255;
    }
    animation: checkboxShakeX 0.2s ease-in-out both;
    transform: translateX(0);
  }

  @keyframes checkboxShakeX {
    0% { transform: translateX(0px); }
    20% { transform: translateX(-2px); }
    40% { transform: translateX(3px); }
    60% { transform: translateX(-3px); }
    80% { transform: translateX(2px); }
    100% { transform: translateX(0px); }
  }
  label {
    cursor: pointer;

    &.disabled:hover {
      cursor: not-allowed;
    }
  }
  .checkBoxTitle {
    display: flex;
  }

  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox + label {
    display: flex;
    align-items: center;
  }

  .custom-checkbox + label::before {
    flex: 0 0 auto;
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 1px solid #3B3C44;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }

  .disabled:hover::before {
    cursor: not-allowed;
  }

  .custom-checkbox:checked + label::before {
    flex: 0 0 auto;
    border-color: $primary;
    background-color: $primary;
    background-image: url("check.svg");
  }

  a {
    color: $primary;
    padding-left: 5px;
    text-decoration-skip-ink: none;

    &:hover {
      color: #137dcf;
    }
  }
}

@media only screen and (max-width: 500px) {
  .checkBoxTitle {
    display: flex;
    flex-direction: column;
  }
  .checkBox a {
    padding-left: 0;
  }
}
