@import "../../palette";

.checkBoxBlock {
  margin-top: 38px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $black;

  div {
    margin-top: 19px;
    display: flex;
  }

  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox + label {
    display: flex;
    align-items: center;
  }

  .custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 1px solid #3B3C44;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }

  .custom-checkbox:checked + label::before {
    border-color: $primary;
    background-color: $primary;
    background-image: url("check.svg");
  }

  a {
    color: $primary;
    padding-left: 5px;
    text-decoration-skip-ink: none;

    &:hover {
      color: #137dcf;
    }
  }
}
