@import '../../palette.scss';

$width: 1000px;

.Page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 147px;
  @include mobile {
    padding-top: 125px;
  }

  .Content {
    position: relative;

    width: 100%;
    max-width: $width;

    padding: 0 32px;
    box-sizing: border-box;


    p {
      display: block;
      margin: 4px 0;
    }
    h1 {
      display: block;
      margin: 0 0 16px 0;
      @include mobile {
        font-size: 30px;
        line-height: 27px;
      }
    }

    ul, li {

    }
  }
}