.option {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 48px;
  align-items: center;
}

.option:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}


.option span {
  height: 100%;
}

.text {
  vertical-align: center;
  margin-left: 36px;
}

.count-block {
  min-width: 50px;
  margin-left: 30px;
  margin-right: 55px;
}

.count {
  margin-left: 10px;
}


