@import '../../index.scss';

.AppButton {
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;

  background-color: $primary100;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-align: center;

  border-radius: 12px; // TODO: smoother border radius
  
  cursor: pointer;
  user-select: none;
  
  transition:
    opacity 0.1s ease-in-out,
    transform 0.1s cubic-bezier(0.32, 0, 0.15, 1.75);
  &.disabled {
    opacity: .5;
  }

  &:hover {
    transform: scale(0.99);
  }
  &:active {
    transform: scale(0.97);
  }

  position: relative;
}
.AppButtonLink {
  text-decoration: none;
  &.disabled {
    pointer-events: none;
  }
}